name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4  # Обновленная версия для checkout

      - name: Set up JDK 11
        uses: actions/setup-java@v4  # Обновленная версия для setup-java
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start SUT
        run: |
          java -jar ./artifacts/app-ibank.jar -P:profile=test &

      - name: Test with Gradle
        run: ./gradlew test --info